data/
results/
*~*.xlsx  # excel temp files
*.csv
*.zip

# https://stackoverflow.com/questions/1274057/how-can-i-make-git-forget-about-a-file-that-was-tracked-but-is-now-in-gitign
# to stop tracking tracked files that have been added to gitignore:

# First:
# git rm -r --cached .
# git add .

# Then:
# git commit -am "Remove ignored files"

# Or as a one-liner:
# git rm -r --cached . && git add . && git commit -am "Remove ignored files"